.section {
  padding: 94px 0;

  &__title {
    margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: $secondary-text-color;
  text-align: center;
  }

  &--info {
    padding-bottom: 0;
  }

  &--team {
    background-color: $secondary-bg-color;
  }
}

